RoundComb.Server/RoundComb.Testing/Service References/ServiceLocal/CitiusNext.External.Interoperability.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespostaDocumento">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Resposta{0}" Namespace="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Documento" Namespace="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RespostaBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="entidade" nillable="true" type="tns:Documento" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaDocumento" nillable="true" type="tns:RespostaDocumento" />
  <xs:complexType name="RespostaBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="idErro" type="xs:int" />
      <xs:element minOccurs="0" name="msgErro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespostaBase" nillable="true" type="tns:RespostaBase" />
  <xs:complexType name="Documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="infoTecnica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documento" nillable="true" type="tns:Documento" />
  <xs:complexType name="MessageExternal">
    <xs:sequence>
      <xs:element name="msgId" nillable="true" type="xs:string" />
      <xs:element name="msgDate" type="xs:dateTime" />
      <xs:element name="msgSenderId" nillable="true" type="xs:string" />
      <xs:element name="msgReceiverId" nillable="true" type="xs:string" />
      <xs:element name="msgTypeId" type="xs:int" />
      <xs:element name="msgType" nillable="true" type="xs:string" />
      <xs:element name="msgExternalRef" nillable="true" type="xs:string" />
      <xs:element name="msgBody" nillable="true" type="xs:string" />
      <xs:element name="msgUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageExternal" nillable="true" type="tns:MessageExternal" />
  <xs:complexType name="RespostaMessageExternalIdentificador">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Resposta{0}" Namespace="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MessageExternalIdentificador" Namespace="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RespostaBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="entidade" nillable="true" type="tns:MessageExternalIdentificador" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaMessageExternalIdentificador" nillable="true" type="tns:RespostaMessageExternalIdentificador" />
  <xs:complexType name="MessageExternalIdentificador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idQueue" type="xs:int" />
      <xs:element minOccurs="0" name="msgId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageExternalIdentificador" nillable="true" type="tns:MessageExternalIdentificador" />
  <xs:complexType name="RespostaSimpleMessage">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="Resposta{0}" Namespace="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SimpleMessage" Namespace="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RespostaBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="entidade" nillable="true" type="tns:SimpleMessage" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespostaSimpleMessage" nillable="true" type="tns:RespostaSimpleMessage" />
  <xs:complexType name="SimpleMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleMessage" nillable="true" type="tns:SimpleMessage" />
</xs:schema>