RoundComb.Server/RoundComb.Testing/Service References/Prod/CitiusNext2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://citiusnext.mj.pt/CitiusNext/Externals/ServiceLayer/RoundComb.ServiceLayer.SoapApi.SoapApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" />
  <xs:element name="getDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="getDocumentoResult" nillable="true" type="q1:RespostaDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="msg" nillable="true" type="q2:MessageExternal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="getMessageValidationResult" nillable="true" type="q3:RespostaMessageExternalIdentificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMessageSubmit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="msg" nillable="true" type="q4:MessageExternal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMessageSubmitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="setMessageSubmitResult" nillable="true" type="q5:RespostaMessageExternalIdentificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isAlive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="isAliveResult" nillable="true" type="q6:RespostaSimpleMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageCompleteXsd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageCompleteXsdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="getMessageCompleteXsdResult" nillable="true" type="q7:RespostaSimpleMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMsgBodyXsd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msgTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMsgBodyXsdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="getMsgBodyXsdResult" nillable="true" type="q8:RespostaSimpleMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMsgBodySimplifiedXsd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msgTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMsgBodySimplifiedXsdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="getMsgBodySimplifiedXsdResult" nillable="true" type="q9:RespostaSimpleMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTribunaisList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTribunaisListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="getTribunaisListResult" nillable="true" type="q10:RespostaArrayOfTribunalExternal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnidadesOrganicasListByIdTribunal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTribunal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnidadesOrganicasListByIdTribunalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="getUnidadesOrganicasListByIdTribunalResult" nillable="true" type="q11:RespostaArrayOfUnidadeOrganicaExternal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoDistribuicaoProcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoDistribuicaoProcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="getEstadoDistribuicaoProcessoResult" nillable="true" type="q12:Respostastring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoComunicacaoProcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoComunicacaoProcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="getEstadoComunicacaoProcessoResult" nillable="true" type="q13:Respostastring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalizarProcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMsgEntity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guidprocesso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nifInterv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalizarProcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CitiusNext.External.Interoperability.DataContracts" minOccurs="0" name="getLocalizarProcessoResult" nillable="true" type="q14:Respostastring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>